<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<ul>
    {% for student in students %}
    <h1>Notation number - {{ student.id }}</h1>
    <li><b>Id:</b> {{ student.id }}</li>
    <li><b>Name:</b> {{ student.name }}</li>
    <li><b>Surname:</b> {{ student.surname }}</li>
    <li><b>Age:</b> {{ student.age }}</li>
    <li><b>Gender:</b> {{ student.sex }}</li>
    <li><b>Adress:</b> {{ student.address }}</li>
    <li><b>Description:</b> {{ student.description }}</li>
    <li><b>Birthday:</b> {{ student.birthday }}</li>
    <li><b>Email:</b> {{ student.email }}</li>
    {% endfor %}
</ul>

<form method="POST" action="students">
    {{ form }}

</form>


</body>
</html>